* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #FEE715;
}


#loadingPageBackground {
    /* background-color: aqua; */
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#loadingRing1 {
    border: 10px dotted black;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
    animation-name: rotateClock;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#loadingRing2 {
    border: 8px dotted black;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    z-index: 1;

    /* animation-name: rotateAntiClock;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
}




@keyframes rotateClock {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

@keyframes rotateAntiClock {
    from {
        rotate: 360deg;
    }
    to {
        rotate: 0deg;
    }
}



@media only screen and (max-width: 600px) {
    #loadingPageBackground {
        width: 100%;
        height: 600px;
    }
}


@media only screen and (min-width: 1800px) {
    #loadingPageBackground {
        width: 100%;
        height: 700px;
    }


    #loadingRing1 {
        height: 200px;
        width: 200px;
    }
    #loadingRing2 {
        height: 130px;
        width: 130px;
    }


}



/* #loadingRing1 {
    display: none;
}

#loadingPageBackground {
    display: none;
} */


#tossDiv {
    /* background-color: blue; */
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

#tossImgDiv {
    height: 160px;
    width: 160px;
    border: 10px dotted black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 100px;
    /* animation-name: rotateClock;
    animation-duration: 1s; */
}

#tossImg {
    height: 140px;
    width: 140px;
    position: relative;
    left: 7px;
    bottom: 3px;
}

#tossButtonDiv {
    height: 100px;
    width: 200px;
    /* background-color: green; */
    position:relative;
    bottom: 50px;
}

#tossButton {
    height: 100px;
    width: 200px;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background-color: rgba(255, 255, 114, 0.821);
}

#tossButton:hover {
    background-color: rgba(220, 216, 94, 0.821);
}