* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #FEE715;
}


#loadingPageBackground {
    /* background-color: aqua; */
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#loadingRing1 {
    border: 10px dotted black;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
    animation-name: rotateClock;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#loadingRing2 {
    border: 8px dotted black;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    z-index: 1;

    /* animation-name: rotateAntiClock;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
}




@keyframes rotateClock {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

@keyframes rotateAntiClock {
    from {
        rotate: 360deg;
    }
    to {
        rotate: 0deg;
    }
}



@media only screen and (max-width: 600px) {
    #loadingPageBackground {
        width: 100%;
        height: 600px;
    }
}


@media only screen and (min-width: 1800px) {
    #loadingPageBackground {
        width: 100%;
        height: 700px;
    }


    #loadingRing1 {
        height: 200px;
        width: 200px;
    }
    #loadingRing2 {
        height: 130px;
        width: 130px;
    }


}



/* #loadingRing1 {
    display: none;
}

#loadingPageBackground {
    display: none;
} */


#choiceDiv {
    height: 100px;
    width: 100%;
    background-color: #FEE715;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choiceButtons {
    height: 100px;
    width: 200px;
    margin: 10px;
    background-color: rgba(255, 255, 114, 0.821);
    border-radius: 10px;
}

.choiceButtons:hover {
    background-color: rgba(220, 216, 94, 0.821);
}

.buttonImages {
    height: 80px;
    width: 80px;
}

#gameWindow {
    display: none;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#scoreBar {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 100px;
    width: 630px;
}

#scoreArea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

#loadArea {
    height: 100px;
    width: 630px;
    background-color: #FEE715;
    display: flex;
}

.loadAreaBox {
    height: 100px;
    width: 210px;
    /* border: 1px solid black; */
    
    display: flex;
    justify-content: center;
    align-items: center;
}


#resultText {
    /* background-color: violet; */
    height: 25px;
    width: 160px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#round {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
}

#loadingRingLeft {
    height: 70px;
    width: 70px;
    border: 8px dotted black;
    border-radius: 50%;

    animation-name: rotateClock;
    animation-duration: 2s;
    animation-iteration-count: infinite;


    visibility:hidden;
}

#rockLeftImage {
    height: 90px;
    width: 90px;
    rotate: 90deg;
    position: absolute;
    visibility: hidden;
}
#paperLeftImage {
    height: 90px;
    width: 90px;
    rotate: 90deg;
    position: absolute;
    visibility: hidden;
}

#scissorLeftImage {
    height: 90px;
    width: 90px;
    rotate: 90deg;
    position: absolute;
    visibility: hidden;
}

#loadingRingRight {
    height: 70px;
    width: 70px;
    border: 8px dotted black;
    border-radius: 50%;

    animation-name: rotateAntiClock;
    animation-duration: 2s;
    animation-iteration-count: infinite;


    visibility: hidden;
}

#rockRightImage {
    height: 90px;
    width: 90px;
    rotate: -90deg;
    position: absolute;
    visibility: hidden;
}
#paperRightImage {
    height: 90px;
    width: 90px;
    rotate: -90deg;
    position: absolute;
    visibility: hidden;
}

#scissorRightImage {
    height: 90px;
    width: 90px;
    rotate: -90deg;
    position: absolute;
    visibility: hidden;
}




@media only screen and (max-width:700px) {
    #loadArea {
        height: 100px;
        width: 100%;
        /* background-color: pink; */
    }

    

    #choiceDiv {
        height: 100px;
        width: 100%;
    }
    .choiceButtons {
        height: 80px;
        width: 160px;
    }
    
    .buttonImages {
        height: 80px;
        width: 80px;
    }

    #scoreBar {
        display: flex;
        justify-content: space-between;
        align-items: end;
        height: 100px;
        width: 90%;
    }
}


#nextRoundTimer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-top: 10px;
}


#crownLeftImage {
    height: 100px;
    width: 100px;
    position: absolute;
    visibility: hidden;
}

#crownRightImage {
    height: 100px;
    width: 100px;
    position: absolute;
    visibility: hidden;
}


#replayButton {
    margin-top: 10px;
    visibility: hidden;
    height: 50px;
    width: 100px;
    background-color: rgba(255, 255, 114, 0.821);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    
}

#replayButton:hover {
    background-color: rgba(220, 216, 94, 0.821);
}

#homeButton {
    margin-top: 10px;
    visibility: hidden;
    height: 50px;
    width: 100px;
    background-color: rgba(255, 255, 114, 0.821);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    
}

#homeButton:hover {
    background-color: rgba(220, 216, 94, 0.821);
}

